.App {
  text-align: center;
  width: 100%;
  
}

.main {
  width: 99%;
  display: inline-block;
}

.songBody {
  width: 90%;
  display: inline-block;
}

table {
  margin-left: auto;
  margin-right: auto;
}

th, td {
  width: 20%;
}

.song-title {
  cursor: pointer;
  color: blue;
}

.songForm {
  background-color: cadetblue;
  height: 60px;
  line-height: 60px;
  margin-bottom: 20px;
}

input, select {
  margin-left: 50px;
  margin-right: 50px;
}

input:first-of-type {
  margin-left: 20px;
}

button {
  margin-left: 0px;
  margin-right: 0px;
  height: 40px;
  color: white;
  background-color: darkslategrey;
}

.field {
  width: 90%;
}

.songBody {
  background-color: darkslategrey;
  color: white;
  border: 0px;
}

.song-row {
  background-color: cadetblue;
  color: white;
}


.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  margin-top: 50px;
  left: 20%;
  top: 0;
  height: 60%;
  width: 60%;
  position: absolute;
}